<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registratiion</title>
</head>
<body>
<form actiion="register" method="POST">
    {%csrf_token%}
    <input type="text" name="first_name" placeholder="First Name"><br><br>
    <input type="text" name="last_name" placeholder="Last Name"><br><br>
    <input type="text" name="username" placeholder="User Name"><br><br>
    <input type="email" name="email" placeholder="Email"><br><br>
    <input type="password" name="password1" placeholder="Password"><br><br>
    <input type="password" name="password2" placeholder="Confirm password"><br><br>
    <input type="submit">
</form>
{%for message in messages%}
<h3>{{message}}</h3>
 {% endfor %}
</body>
</html>